.pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pagination-container button{
    margin: 10px;
}

.left{
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
}

.right{
    width: 15px;
    height: 15px;
}