
.navbar-container{
    background-color: #e44848;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navbar-img{
    width: 150px;
}